@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TP Integrador - Diseño de Sistemas</h1>
    <p class="lead">Integrantes:</p>
    <ul>
        <li>Julian Molina</li>
        <li>Dario Nahuel Da Silva</li>
        <li>Ivan Gomez Yauri</li>
        <li>Uri Lukacher</li>
    </ul>
</div>

<h2>@ViewBag.Mensaje</h2>
