
@{
    ViewBag.Title = "Indicadores";
    List<SelectListItem> listIndicadores = new List<SelectListItem>();
    List<SelectListItem> _listIndicadores = ViewBag.ListIndicadores as List<SelectListItem>;
    listIndicadores.AddRange(_listIndicadores);
}

<h2>Indicadores</h2>
<div class="col-md-7">
    @Html.DropDownList("Indicadores",listIndicadores,"Seleccione indicador",new { @class="form-control"})
</div>
<div class="col-md-5">
    <a class="btn btn-primary" href="@Url.Action("Create")">Crear Indicador</a>
</div>


